*{
     margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: white;
    font-family: 'Open Sans',sans-serif;
}
.container{
    display: flex;
    background: #000;
    min-height: 100vh;
}


.left{
width: 25vw;
margin: 3px;
padding: 10px;
color: white;
 transition: all 0.3s ease-in-out;
}

.home{
    background: #121212;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
}
.library{
    background: #121212;
    border-radius: 7px;
     margin: 5px;
      padding: 10px;
      min-height: calc(100vh- 180px);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.home ul li{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
.home ul li img{
    width: 24px;
}

.invert{
filter: invert(1);
}

.heading{
      width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  /* padding-top: 14px; */
  padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 1rem;
}  

.heading img{
    width: 30px;
}

.footer{
    display: flex;
flex-wrap: wrap;
    font-size: 0.7rem;
    gap: 13px;
    bottom: 10px;
    padding:10px 0 ;
}
.footer a{
color: grey;
/* white-space: nowrap; */
display: block;
text-decoration: none;
}


.right{
    background: #121212;
    color: white;
    border-radius: 7px;
    margin:16px 0;
    width: 75vw;
    overflow: hidden;
    flex-grow: 1;
position: relative;
}


::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
    width: 0;      /* Ensures no width is taken by the scrollbar */
    height: 0;     /* Ensures no height is taken by the scrollbar */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem;
    padding: 10px 15px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
}

.navs{
    width: 24px;
    cursor: pointer;
    margin: 0 5px;

}

.buttons{
    display: flex;
  gap: 10px;
align-items: center;
}

.buttons button{
    cursor: pointer;
    font-weight: bold;
    padding: 0 12px;
    height: 2.2rem;
    border-radius: 21px;
    transition: all 0.4s ease-in-out;
}

.Sign_up{
    border: none;
    outline: none;
    background-color:rgb(34, 34, 34);
    font-size: 1rem;
}

.Sign_up:hover{
 color: white;
  font-size: 1.05rem;
}

.Log_in{
    border-radius: 21px;
    width: 79px;
     font-size: 1rem;
    border: none;
    outline: none;
}

.Log_in:hover{
        font-size: 1.05rem;
    background-color: #f0f0f0;
}

.spotify_playlist h1{
padding: 1rem;
margin: 1rem;
}

.card_container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
     max-height: calc(100vh - 250px);
   overflow-y: auto;
   padding-bottom: 50px;
}

.cards{
     background-color: #252525;
    padding: 0.6rem;
     margin-bottom: 1rem;  
   border-radius: 10px;
    width: 200px;
    max-width: 100%;
    position: relative;
  
}

.cards:hover {
     transition: background-color 0.4s ease;
    background-color: #353535; /* Darken on hover */
}
.cards img{
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.cards h2 {
    font-size: 1rem;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.cards p {
    font-size: 0.8rem;
    color: #b3b3b3;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play_button{
    height: 40px;
width: 40px;
background-color: #1fdf64;
border-radius: 50%;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 140px;
right: 15px;
opacity: 0;
transition: all 0.5s ease-out;
cursor: pointer;
box-shadow: 0 4px 15px rgb(0, 0, 0 0.4)  ;
}


.play_button img{
width: 18px;
position: static;
}

.cards:hover .play_button{
        opacity: 1;
        top: 150px;
}

.playbar{
    background-color: lightgreen;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 12px;
}
.songsbutton{
 display: flex;
    justify-content: center;
    gap: 16px;
}