*{
     margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: #000;
    color: white;
    font-family: 'Open Sans',sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    background: #000;
   height: 100vh;
}

.left {
width: 25vw;
margin: 3px;
padding: 10px;
color: white;
 transition: all 0.3s ease-in-out;
 display: flex;
 flex-direction: column;
}

.home {
    background: #121212;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
}

.library{
    background: #121212;
    border-radius: 7px;
     margin: 5px;
      padding: 10px;
       flex-grow: 1;
         display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.home ul li{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
.home ul li img{
    width: 24px;
}

.invert{
filter: invert(1);
}


.heading{
      width: 100%;
      display: flex;
      gap: 15px;
      padding-top: 14px;
      padding: 6px 10px;
      font-weight: bold;
      align-items: center;
      font-size: 0.8rem;
}  

.heading img {
    width: 30px;
}

.music {
    width: 20px;
}

.song_list{
    flex-grow: 1;
overflow-y: auto;
margin: 10px 0;
padding-right: 5px;
}

.song_list ul li {
    list-style-type:decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 8px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

.info {
  font-size: 13px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.play_now {
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
}

.play_now span{
    font-size: 15px;
    width: auto;
    padding: 12px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 13px;
    padding-top: 10px;
}

.footer a {
color: grey;
white-space: nowrap;
display: block;
text-decoration: none;
}

.right {
    background: #121212;
    color: white;
    border-radius: 7px;
    margin:16px 0;
    width: 75vw;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #252525;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
background: #555;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #777;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem;
    padding: 10px 15px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    flex-shrink: 0;
}

.navs {
    width: 24px;
    cursor: pointer;
    margin: 0 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buttons button {
    cursor: pointer;
    font-weight: bold;
    padding: 0 12px;
    height: 2.2rem;
    border-radius: 21px;
    transition: all 0.4s ease-in-out;
}

.Sign_up{
    border: none;
    outline: none;
    background-color:rgb(34, 34, 34);
    font-size: 1rem;
    color: #b3b3b3;
}

.Sign_up:hover{
 color: white;
  font-size: 1.05rem;
}

.Log_in{
    border-radius: 21px;
    width: 79px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.Log_in:hover{
    font-size: 1.05rem;
    background-color: #f0f0f0;
}

.spotify_playlist {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 100px;
}

.spotify_playlist h1{
padding: 1rem;
margin: 1rem;
}

.card_container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards{
    background-color: #252525;
    padding: 0.6rem;
    margin-bottom: 1rem;  
    border-radius: 10px;
    width: 200px;
    max-width: 100%;
    position: relative;
  
}

.cards:hover {
     transition: background-color 0.4s ease;
    background-color: #353535; 
}
.cards img{
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.cards h2 {
    font-size: 1rem;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.cards p {
    font-size: 0.8rem;
    color: #b3b3b3;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play_button{
height: 40px;
width: 40px;
background-color: #1fdf64;
border-radius: 50%;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 140px;
right: 15px;
opacity: 0;
transition: all 0.5s ease-out;
cursor: pointer;
box-shadow: 0 4px 15px rgb(0, 0, 0 0.4)  ;
}


.play_button img{
width: 18px;
position: static;
}

.cards:hover .play_button{
        opacity: 1;
        top: 150px;
}

.playbar{
    background-color: #252525;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   height: 70px;
}

.seekbar{
    border: 2px solid white;
    height: 2px;
    width: 98%;
    position: absolute;
    bottom: 67px;
    left: 1%;
    border-radius: 2px;
}

.circle{
    height: 13px;
    width : 13px;
    border-radius: 50%;
    background-color: #1fdf64;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 1s linear;
    cursor: pointer;

}


.song_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.songsbutton{
 display: flex;
    justify-content: center;
    gap: 16px;
}

.songsbutton img{
cursor: pointer;
}


