*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    /* justify-content: space-around; */
}
.left{
    border: 2px solid red;
    width: 25vw;
    margin: 3px;
padding: 21px;
    background: #000;
}
.right{
    border: 2px solid greenyellow;
    width: 75vw;
      margin: 3px;
}
.home ul li{
    width: 15px;
    gap: 15px;
    display: flex;
}

.invert{
    filter: invert(1);
}